[Unit]
Description=AirMonitor application
Wants=airmonitor-voc.service airmonitor-sps30.service airmonitor-printer-mqtt.service airmonitor-bento.service airmonitor-levoit.service airmonitor-status.service airmonitor-export.service
After=network-online.target mosquitto.service

[Install]
WantedBy=multi-user.target
