# Sensirion SPS30 particulate logger
AIRMONITOR_SPS30_PORT=auto
AIRMONITOR_SPS30_HARDWARE_ID=sps30-01
AIRMONITOR_SPS30_SENSOR_ID=sps30-01
AIRMONITOR_SPS30_SENSOR_SERIAL=SPS30-01
AIRMONITOR_SPS30_SENSOR_LOCATION=printer-room
AIRMONITOR_SPS30_INTERVAL=10
AIRMONITOR_SPS30_TIMEOUT=2
AIRMONITOR_SPS30_RETRY_SECONDS=5
AIRMONITOR_HARDWARE_REGISTRY=/etc/airmonitor/hardware.yaml
AIRMONITOR_DATABASE=/var/lib/airmonitor/airmonitor.sqlite3
AIRMONITOR_LOG_LEVEL=INFO
