version: 1

devices:
  sgx-voc-01:
    driver: airmonitor.sensors.sgx.ps1_voc
    transport: usb-uart
    device: /dev/airmonitor-sgx

  sps30-01:
    driver: airmonitor.sensors.sensirion.sps30
    transport: usb-uart
    device: /dev/airmonitor-sps30
